# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\zOther\Upgrad AI ML\Programs\34. Chatbot Case Study\Akshay\Rasa_basic_folder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
